version: "3.9"
services:
  db:
    image: mariadb:10
    environment:
      MARIADB_DATABASE: app
      MARIADB_USER: app
      MARIADB_PASSWORD: app
      MARIADB_ROOT_PASSWORD: root
    
    healthcheck:
      test: ["CMD-SHELL", "mariadb-admin ping -h localhost -uapp -p$${MARIADB_PASSWORD} --silent"]
      interval: 5s
      timeout: 5s
      retries: 20
    networks:
      - appnet

  backend:
    build: ./backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:mariadb://db:3306/app
      SPRING_DATASOURCE_USERNAME: app
      SPRING_DATASOURCE_PASSWORD: app
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    networks:
      - appnet


  frontend:
    build: ./frontend
    environment:
      VITE_API_BASE_URL: http://localhost:8080
    ports:
      - "5173:5173"
    depends_on:
      - backend

  networks:
    appnet:
